<template>
  <div id="Bar">
      <transition name="slide">
              <div class="bar-h1" v-if="waiting" style="color:white">
                <p>ORDER HERE 
                <sui-icon name="angle right" class="wiggler"></sui-icon></p>
              </div>    
      </transition>  
      <transition name="fade">
        <div class="bar-h1" v-if="displaying">
          <div class="darkener"></div>
          <div class="tilt-pane" v-bind:class="{coffeeBackground:order.item=='Coffee',matchaBackground:order.item=='Matcha',teaBackground:order.item=='Tea'}"></div> 
        </div>
      </transition>
      <transition name="slide">
          <div class="bar-h1" v-if="displaying" style="color:white">            
            <p>{{order.name}} your {{order.item.toLowerCase()}} is ready!</p>
          </div>          
      </transition>   
  </div>
</template>

<script>
export default {
  name: 'Bar',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      orders:[],
      displaying:false,
      waiting:true,
      order:{
        item:"Coffee",
        name:"John"
      }
    }
  },methods:{
    loadData: function () {
      var address = this.ip+"/drinks_ready"
       this.$axios.get(address)
        .then(response => {
          // JSON responses are automatically parsed.
          response.data.forEach(function(order){
            console.log(order)
            this.orders.push(order);
            
        }.bind(this))
        })
        .catch(e => {
          console.log(e);
          // this.errors.push(e)
        })
    },
    checkStack:function(){
      if(!this.waiting){
        //if we're doing anything other than waiting
      }
      else{
        //if we're waiting
        if(this.orders.length > 0){
          this.order = this.orders.shift();
          this.waiting=false;
          var hold_time = 4000;
          setTimeout(function(){this.displaying=true}.bind(this),1500);
          setTimeout(function(){this.displaying=false}.bind(this),hold_time+1500);
          setTimeout(function(){this.waiting=true}.bind(this),hold_time+3000);
        }
      }
    }
  },
  mounted:function(){
    this.loadData();
    setInterval(function(){
      this.loadData();
    }.bind(this),500);

    this.checkStack();
    setInterval(function(){this.checkStack()}.bind(this),
      500);
  },
  created:function(){

    if(this.$route.params.ip){
      this.ip = this.$route.params.ip;
      console.log("ip was passed successfully as ",this.ip);
    }else{

      console.log("ip was not passed as a parameter. using ",this.ip);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.darkener{
  z-index:-1;
  position:fixed;
  background-color: rgba(0,0,0,.4);
  width:100%;
  height:100%;
  top:0;
  left:0;
}
.tilt-pane{
  position:fixed;
  min-width:2500px;
  min-height:2500px;
  width:auto;
  height:auto;
  z-index:-2;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  animation:spin 25s linear infinite;
}

.coffeeBackground{

  background:url("../assets/coffee.jpg") no-repeat 0 0;background-size: cover;
}.teaBackground{

  background:url("../assets/tea.jpg") no-repeat 0 0;background-size: cover;
}.matchaBackground{

  background:url("../assets/matcha.jpg") no-repeat 0 0;background-size: cover;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.bar-container{
  position:fixed;
  top:0;
  left:0;
  display:flex;
  align-items:center;
  justify-content: center;
  width:100%;
  height:100%;
}
.bar-h1{
  position:fixed;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content: center;
  text-align:center;
  font-size:6.4em;
}
#Bar{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
}
h1{
  font-size:6em;
}
.wiggler{
  animation-name:wiggle;
  animation-duration:2s;
  animation-iteration-count: infinite;
  /*animation-timing-function: ease;*/
}
@keyframes wiggle{
  0% {
    transform:translate(0);
    opacity:0;
  }
  50%{

    opacity:1;
  }
  100%{
    transform:translate(50px);
    opacity:0;

  }
}
</style>
