<template>
  <div id="IPad">
      <transition name="fade">      
      <video  v-if="session.item=='Coffee'" class="bkg" autoplay muted loop id="myVideo" preload="auto">
        <source src="../assets/coffee.mp4" type="video/mp4">
      </video>
    </transition>
    <transition name="fade">      
      <video  v-if="session.item=='Matcha'" class="bkg" autoplay muted loop id="myVideo" preload="auto">
        <source src="../assets/matcha.mp4" type="video/mp4">
      </video>
    </transition>
    <transition name="fade">      
      <video  v-if="session.item=='Tea'" class="bkg" autoplay muted loop id="myVideo" preload="auto">
        <source src="../assets/tea.mp4" type="video/mp4">
      </video>
    </transition>
    <div class="dimmer"></div>
    <transition name="slide">      
      <Menu v-if="page == 'menu'" v-bind:session="session"/>
    </transition>
    <transition name="slide">
      <NameEntry  v-if="page == 'nameEntry'" v-bind:session="session"/>
    </transition>
    <transition name="slide">
      <OrderConfirmation v-if="page == 'orderConfirmation'" v-bind:session="session"/>
    </transition>
  </div>
</template>

<script>
import OrderConfirmation from './OrderConfirmation'
import Menu from './Menu'
import NameEntry from './NameEntry'
export default {
  name: 'IPad',
  components: {
    OrderConfirmation,Menu,NameEntry
  },
  data(){
    return{
      submitting:false,
      session:{
        item:"",
        name:"",
      },
      page:"menu",
      ip:"http://127.0.0.1:8081"
    }
  },
  methods:{
    selectItem:function(item){
      this.page = "nameEntry";
      this.session.item=item;
    },
    nameEntered:function(name){
      this.session.name=name;
      var that = this;
      if(!this.submitting){
         this.submitting = true;
         this.$axios({
          method:'post',
          url:this.ip+'/drinks',
          data:{
            name:this.session.name,
            item:this.session.item          
          }
        })
        .then(function (response) {
          console.log(response);
          if(response.status == 200){
            that.page = "orderConfirmation"
            setTimeout(()=>{
            that.submitting = false;
              that.session.name = '';
              that.session.item = '';
              that.page = "menu";
            },3000)
          }
        })
        .catch(function (error) {
          that.submitting = false;
          console.log(error);
        });    }

      }
     
  },
  created:function(){
    this.$eventHub.$on('selectItem',this.selectItem);
    this.$eventHub.$on('nameEntered',this.nameEntered);

    if(this.$route.params.ip){
      this.ip = this.$route.params.ip;
      console.log("ip was passed successfully as ",this.ip);
    }else{

      console.log("ip was not passed as a parameter. using ",this.ip);
    }
  }
}
</script>

<style>

</style>
