<template>
	<div id="Marquee">
		<sui-container class="fullHeight" fluid text-align="center">
	    	<sui-grid class="fullHeight">
	    		<sui-grid-row>		    			
		    		<sui-grid-column class="flex-column limited-height"  :width="11">
		    			<sui-container text-align="left">
		    				<div class="darkener" v-bind:class="{flash:coffeeOrdered}">
		    					<div class="menu-item">			    				
			    					<h1 class="ignore-offsets"	>COFFEE</h1>
			    					<div class="price-tag">
				    					<div class="item-preview coffee"></div>
				    					<h1 class="ignore-offsets">$4</h1>		
			    					</div>    				
				    			</div>
		    				<h2>Organic arabica beans roasted to produce a<br>refined balance of sweetness and acidity.</h2>  
	    					</div>	 				
		    			</sui-container>
		    			<sui-container text-align="left">
		    				<div class="darkener" v-bind:class="{flash:matchaOrdered}">
		    					<div class="menu-item">			    				
			    					<h1 class="ignore-offsets"	>MATCHA</h1>
			    					<div class="price-tag">
				    					<div class="item-preview matcha"></div>
				    					<h1 class="ignore-offsets">$5</h1>		  
				    				</div>  				
				    			</div>
			    				<h2>Premium grade matcha sourced from Japan. Packed with vitamins and antioxidants.</h2>
	    					</div>	
		    				
		    			</sui-container>
		    			<sui-container  text-align="left">
		    				<div class="darkener" v-bind:class="{flash:teaOrdered}">
		    				<div class="menu-item">			    				
		    					<h1 class="ignore-offsets"	>TEA</h1>
		    					<div class="price-tag">
			    					<div class="item-preview tea"></div>
			    					<h1 class="ignore-offsets">$4</h1>
			    				</div>	    				
			    			</div>
		    				<h2>Traditional loose leaf tea sourced from around<br>the world.</h2>
		    					
		    				</div>
		    				
		    			</sui-container>
		    		</sui-grid-column>
		    		<sui-grid-column  class="leftBorder limited-height" :width="5">		    			
		    			<sui-container text-align="center">		    				
		    					<h1>ORDERS</h1>
		    					<transition-group name="list-complete"  >
		    						<div class="order-row"  v-for="order in orders" v-bind:key="order.id" >
				    					<h2 class="list-complete-item">{{order.name}}</h2>
				    					<div class="order-preview" v-bind:class="{coffee:(order.item =='Coffee'),tea:(order.item=='Tea'),matcha:(order.item=='Matcha')}"></div>		    								
		    						</div>	    											
		    					</transition-group>
		    			</sui-container>
		    		</sui-grid-column>
	    		</sui-grid-row>
	    	</sui-grid>
	    </sui-container>		
	</div>    
</template>

<script>
export default {
  name: 'Marquee',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      orders:[
      ],
      ip:"http://127.0.0.1:8081",
      coffeeOrdered:false,
      teaOrdered:false,
      matchaOrdered:false,
      drinkCheckTime:500,
      orderFullfillmentTime:11500
    }


  },
  methods:{
  	loadData: function () {
  		var address = this.ip+"/drinks";
  		var delete_orders = [];
  		this.orders.forEach((o)=>{
  			delete_orders.push(o.id); //create zero seperated list of ids
  		});
  		console.log(delete_orders)
     	 this.$axios.get(address,
     	 		{
     	 			params:{
     	 				delete:delete_orders.join("0")//create zero seperated list of ids
     	 			}
     	 		})
        .then(response => {
	        response.data.forEach(function(order){
  				var already_exists = false;
  				this.orders.forEach((o)=>{
  					if(o.id == order.id)already_exists=true; //IN CASE OF SPAM AND SLOW SPEEDS, DONT ADD DUPLICATES
  				})
  				if(!already_exists){
	          	if(order.item == "Matcha"){
	          		this.matchaOrdered=true;
	          		setTimeout(function(){this.matchaOrdered=false}.bind(this),1500);
	          	}
	          	if(order.item == "Tea"){
	          		this.teaOrdered=true;
	          		setTimeout(function(){this.teaOrdered=false}.bind(this),1500);
	          	}
	          	if(order.item == "Coffee"){
	          		this.coffeeOrdered=true;
	          		setTimeout(function(){this.coffeeOrdered=false}.bind(this),1500);
	          	}

		        this.orders.push(order);
		    	}
		    	else{
		    		console.log("tried to create duplicate")
		    	}	         
		      }.bind(this))
	        })
        .catch(e => {
          console.log(e);
        })
    },
    sendToFinished:function(order){
    	this.$axios({
	        method:'post',
	        url:this.ip+'/drinks_ready',
	        data:{
	          name:order.name,
	          item:order.item          
	        }
	      })
	      .then(function (response) {
	        console.log(response);
	      })
	      .catch(function (error) {
	        console.log(error);
	      });
    },
    makeCoffee:function(progress){
    	if(this.orders.length >0){
    		if(this.orders[0].progress == undefined)this.orders[0].progress = 0;
    		this.orders[0].progress += progress;
    		if(this.orders[0].progress > this.orderFullfillmentTime){
    			this.sendToFinished(this.orders[0]);
    			this.orders.splice(0,1)
    		}
    	}
    }
  },
  props:{
  	session:{type:Object}
  },
  mounted:function(){
  	this.loadData();
    setInterval(function(){
      this.loadData();
    }.bind(this),500);

    this.makeCoffee();
    setInterval(function(){this.makeCoffee(500)}.bind(this),500); //pass the increment being used to checkstack as that gets added to the progress of the order
  },
  created:function(){

  	if(this.$route.params.ip){
  		this.ip = this.$route.params.ip;
  		console.log("ip was passed successfully as ",this.ip);
  	}else{

  		console.log("ip was not passed as a parameter. using ",this.ip);
  	}
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.limited-height{
	max-height: 924px;
}
	.price-tag{
		display:flex;
		flex-flow:row;
		align-items: center;
	}
	.darkener.flash{
		background-color: rgba(255,255,255,.4);
		border-radius:15px;
	}
	h1{
		font-size:5em;
	}
	h2{
		font-size:3em;
	}
	h3{
		font-size:6em;
	}
	#Marquee{
		position:fixed;
		width:100%;
		height:100%;
		padding:100px 30px 100px  100px;
		height:100%;
	}
	.ui.divider:not(.vertical):not(.horizontal){
		border-color:white!important;
	}
	.leftBorder{
		border-left:solid 2px white;
		height:100%;
	}
	.fullHeight{
		height:100%;
	}

	.menu-item{
		display:flex;
		flex-flow:row nowrap;
		justify-content: 	space-between;
		align-items:center;
	}
	.ignore-offsets{

		margin-block-start:0;
		margin-block-end:0;
		margin-inline-start:0;
		margin-inline-end:0;
	}
	.item-preview{
		width:540px;
		height:65px;
		border-radius:15px;
		margin-right:60px;
		background-size:cover;
	}
	.item-preview.coffee{
		background-image:url('../assets/coffee.jpg');

	}.item-preview.tea{
		background-image:url('../assets/tea.jpg');

	}.item-preview.matcha{
		background-image:url('../assets/matcha.jpg');

	}

	.order-preview{
  background-position: center; 
		margin-left:15px;
		width:40px;
		height:40px;
		border-radius:5px;
		background-size:cover;
	}.order-preview.coffee{
		background-image:url('../assets/coffee.jpg');

	}.order-preview.tea{
		background-image:url('../assets/tea.jpg');

	}.order-preview.matcha{
		background-image:url('../assets/matcha.jpg');

	}
	.darkener{
	  padding:15px;
	  box-sizing:border-box;
	  background-color: rgba(0,0,0,.6);
	  width:100%;
	  height:100%;
	  transition:1s all;
	  /*position:absolute;*/
	  top:0;
	  left:0;
	}
	.ui.grid>.row>.column.flex-column{
		display:flex;
		flex-flow:column;
		justify-content: space-between;
	}

	.order-row{
		display:flex;
		flex-flow:row nowrap;
		justify-content: center;
		align-items: center;
  		transition: all 1s;
  		max-width:100%;
	}
	.list-complete-item{
		max-width:100%;
		font-size:3em;
	}

.list-complete-item {
  /*display: block;*/
  /*margin-right: 10px;*/
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
  margin-bottom:-68px;
}
.list-complete-leave-active {
  display:absolute;
}
</style>
