<template>
	<div id="Menu">	 
	    	<div class="menuHolder">
		    	<div class="menuButton coffee "  v-on:click="select('Coffee')">
		    		<div class="darkener" v-bind:class="{selected:coffeeSelected}">
		    		<h1>Coffee - $4<sui-icon name="angle right"></sui-icon>
		    		</h1>
		    	</div>
		    	</div>

		    	<div class="menuButton matcha" v-on:click="select('Matcha')">
		    		<div class="darkener" v-bind:class="{selected:matchaSelected}">		    			
			    		<h1>Matcha - $5<sui-icon name="angle right"></sui-icon>
			    		</h1>
		    		</div>
		    	</div>
		    	<div class="menuButton tea" v-on:click="select('Tea')">
		    		<div class="darkener" v-bind:class="{selected:teaSelected}">		    			
			    		<h1>Tea - $4<sui-icon name="angle right"></sui-icon>
			    		</h1>
		    		</div>
		    	</div>
	    	</div>
	    	<!-- <sui-button-group vertical>
				<sui-button   basic inverted size="massive" fluid v-on:click="select('Coffee')">Coffee - $4<sui-icon name="angle right"></sui-icon></sui-button>
				<sui-button    basic inverted size="massive" fluid v-on:click="select('Matcha')">Matcha - $5<sui-icon name="angle right"></sui-icon></sui-button>
				<sui-button  basic inverted size="massive" fluid v-on:click="select('Tea')">Tea - $4<sui-icon name="angle right"></sui-icon></sui-button>
	    	</sui-button-group> -->	
	</div>    
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      coffeeSelected :false,
      teaSelected :false,
      matchaSelected :false
    }
  },
  methods:{
  	select:function(item){
  		if(!this.coffeeSelected && !this.teaSelected && !this.matchaSelected){
	  		if(item == "Coffee"){
	  			this.coffeeSelected = true;
	  			console.log("BOOM")
	  			setTimeout(function(){
	  				this.coffeeSelected = false;
	  			}.bind(this),500);
	  		}
	  		if(item == "Tea"){
	  			this.teaSelected = true;
	  			setTimeout(function(){
	  				this.teaSelected = false;
	  			}.bind(this),500);
	  		}
	  		if(item == "Matcha"){
	  			this.matchaSelected = true;
	  			setTimeout(function(){
	  				this.coffeeSelected = false;
	  			}.bind(this),500);
	  		}
	  		setTimeout(function(){
		  		this.$eventHub.$emit('selectItem',item)
		  	}.bind(this),250)
	  	}
	  }
  },
  props:{
  	session:{type:Object}
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#Menu{
	position:fixed;
	top:0;
	width:100%;
	height:100%;
	left:0;
}
.darkener{
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.6);
	transition:all 1s;
}
.selected{
	background-color:rgba(255,255,255,.8);
}
.menuHeader{
	width:100%;
	display:flex;
	flex-flow:column;
	align-items: center;
	justify-content: center;
	height:15%;
}
.menuHolder{
	text-align: center;
	left:0;
	top:0;
	display:flex;
	height:100%;
	width:100%;
	flex-flow:column nowrap;
	justify-content: space-between;
	align-content: center;
}
.menuButton{
	display:flex;
	flex-flow:column;
	justify-content: center;
	background-size:cover;
	background-color:white;
	width:100%;
	height:33.34%;
	border:none;
}

.menuButton.coffee{
		background-image:url('../assets/coffee.jpg');
}
.menuButton.tea{
		background-image:url('../assets/tea.jpg');
}
.menuButton.matcha{
		background-image:url('../assets/matcha.jpg');
}

</style>
