<template>
  <div id="NameEntry">
    <sui-container text-align="center">
    	<sui-header>
    		<h1 style="color:white">...and who's that for?</h1>
    	</sui-header>
    	<div class="buffer"></div>
    	<sui-input inverted transparent v-model="name" placeholder="Your Name" @input="capitalize" maxlength="12"></sui-input>
    	<div class="buffer"></div>
    	<transition name="slide">    		
    	<sui-container v-if="name != ''" text-align="center">
	    	<sui-button v-on:click="submitName" basic inverted size="huge">Order Up<sui-icon name="angle right"></sui-icon></sui-button>
	    </sui-container>
    	</transition>
    </sui-container>
    
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      name:"",
      msg: 'Welcome to Your Vue.js App'
    }
  },
  methods:{
  	submitName(){
  		this.$eventHub.$emit("nameEntered",this.name)
  	},
    capitalize(){
      var split_words = this.name.split(" ");
      split_words.forEach(function(word,i,words){
        if(word.charAt(0).toUpperCase() != word.charAt(0)){
          words[i] = this.replaceAt(word,0,word.charAt(0).toUpperCase())
        }
      }.bind(this));
      this.name = split_words.join(" ")
    },
    replaceAt(string, index, replace) {
    return replace + string.substring(index + 1);
  }
  },
  props:{
  	session:{type:Object}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#NameEntry{
	position:fixed;
	top:25%;
	left:0;
	width:100%;
	height:100%;
}

.ui.transparent.input{
	font-size:3em;
	background-color:rgba(255,255,255,.1);
	border-radius:5px;
	padding:.78571429em 1.5em .78571429em;
}

button{
	left:25px;
}

</style>
