<template>
  <div id="OrderConfirmation">
  	<sui-container text-align="center">
    	<sui-header>
    		<h1 style="color:white">Thanks {{session.name}}, your {{session.item.toLowerCase()}} will be ready shortly!</h1>
    	</sui-header>
    </sui-container>  
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  props:{
  	session:{type:Object}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#OrderConfirmation{
	position:fixed;
	top:35%;
	width:100%;
	height:100%;
	left:0;
}
</style>
