<template>
  <div id="selector"> 
    <div class="buffer"></div>
  <sui-container text-align="center">
      <sui-header inverted>
        <h1>Select Device Role:</h1>
      </sui-header>
      <div class="buffer"></div>
    <sui-segment inverted>
    <router-link :to="{name:'ipad',params:{ip:ip}}"><h1 is="sui-header" size="massive" inverted>iPad</h1></router-link>
  </sui-segment>
    <div class="buffer"></div>
    <sui-segment inverted>
    <router-link :to="{name:'marquee',params:{ip:ip}}"><h1 is="sui-header" inverted>Marquee (Menu)</h1></router-link>
  </sui-segment>
    <div class="buffer"></div>
    <sui-segment inverted>
    <router-link :to="{name:'bar',params:{ip:ip}}"><h1 is="sui-header" inverted>Bar</h1></router-link>
  </sui-segment>
  <div class="buffer"></div>

      <sui-header inverted>
        <h1 >Server IP address:</h1>
      </sui-header>
      <sui-input inverted transparent v-model="ip" v-on:change="ipChanged"></sui-input>
      <sui-header inverted>
        <h2>Default is localhost.<br>Select IP for the server</h2>
      </sui-header>
      <div class="buffer"></div>
  </sui-container>  
  </div>
</template>

<script>

export default {
  name: 'Selector',
  components: {
  },
  data(){
    return{
      ip:"http://127.0.0.1:8081"
    }
  },
  methods:{
    ipChanged:function(ip){
      this.$eventBus.$emit("ipChanged",ip)

    }
  },
  created:function(){
  }
}
</script>

<style>
#selector{
  position:absolute;
  width:100%;
  height:100%;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #141e30, #243b55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.ui.transparent.input{
  font-size:3em;
  background-color:rgba(255,255,255,.1);
  border-radius:5px;
  padding:.78571429em 1.5em .78571429em;
}


</style>
