<template>
  <div>
    <router-view/>
  </div>
</template>

<script>
import IPad from './components/IPad';
import Selector from './components/Selector'
export default {
  name: 'App',
  components: {
  },
  data(){
    return{
      session:{
        item:"",
        name:"",
      }
    }
  },
  components:{
    Selector
  },
  methods:{
  },
  created:function(){
  }
}
</script>

<style>
@font-face {
  font-family: "Montserrat-regular";
  src: url("./assets/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("./assets/Montserrat-Bold.ttf") format("truetype");
}

body{
  background-color:black;
  color:white;
  font-family: "Monserrat-regular"
}

.ui.vertical.buttons{
  width:100%;
}
.buffer{
  margin:48px;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position:fixed;
  width:100%;
  font-family: "Monserrat-regular";
}
.bkg{
  min-width:100%;
  min-height:100%;
  height:auto;
  width:auto;
  position:fixed;
  top:0;
  left:0;
  z-index:-9;
}
.dimmer{
  background-color: rgba(0,0,0,.7);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:-8;
}
.ui.massive.button{
  font-size:3rem;
}
h1,h2,h3,button,.ui.input>input,.ui.button,body{

  font-family: "Montserrat-regular";
}
h1{
  font-size:4rem;
}
h2{
  font-size:3rem;
}
h3{
  font-size:2rem;
}
.name-item{
  font-size:3rem;
}

.slide-enter-active, .slide-leave-active {
  transition: all 1.5s ease;
}
.slide-enter /* .fade-leave-active below version 2.1.8 */ {
  transform:translateX(980px);
  opacity: 0;
}
.slide-leave-to{
  transform:translateX(-980px);
  opacity:0;
}

.fade-enter-active, .fade-leave-active {
  transition: all 1.5s ease;
}
.fade-enter /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.fade-leave-to{
  opacity:0;
}


</style>
